.listItem {
    list-style-type: none;
    border: 1px solid gray;
    padding: 8px;
    margin: 0px 4px;
}

.listItem>a {
    text-decoration: none;
    color: black;
}

.listItem:hover{
    background-color: lightblue;
    color: white;
}